body {
	background-color: #F6F7BD; 
}

/*page d'activité - A1 */

h2 {
	background-color: #BF4D28; 
	color: white; 
	text-align: center; 
	padding: 0.5em; 
	margin: 10px;
}

#A1 {
	display: flex; justify-content: space-around; 
}
#A1 h3 {
	font-style: italic; font-size: 1.2em; 
}
#glisse p {
	background-color: #DDC67A; 
	width: 200px; 
	height: 25px; 
	padding: 0.5em; 
	display: flex; 
	flex-direction: column; 
	margin: 16px; 
	text-align: center;
}
#depot1, #depot2 { 
	width: 300px; 
	height: 330px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
	text-align: center; 
	justify-content: center; 
	flex-direction: column; 
	border: 3px #BF4D28 outset; 
}


/*page d'activité - A2 */
#activite2 {
	display: flex; 
	justify-content: space-around; 
}
#dialogue p { 
	background-color: #DDC67A; 
	width: 230px; 
	height: 25px; 
	padding: 0.5em; 
	text-align: center; 
	display: flex; 
	flex-direction: column; 
	margin: 16px; 
	text-align: center;
}
#depotdialogue p { 
	background-color: #F4E150; 
	width: 250px; 
	height: 25px; 
	padding: 0.5em; 
	text-align: center; 
	font-style: italic; 
	display: flex; 
	flex-direction: column; 
	margin: 16px; 
	text-align: center; 
	border: 1px #BF4D28 dotted;
}

/*page d'activité - A3 */
#A3 {
	display: flex; 
	justify-content: space-around; 
	padding: 1em; 
}
#D1,#D2, #D3 { 
	justify-content: space-around; 
	border: 2px #D35313 ridge; 
	width: 300px; 
	height: 130px; 
	text-align: center; 
	margin: 3px; 
	font-size: 1.1em;
}

/*page d'activité - BOUTON */
#boutonV {
	width: 100px; 
	height: 30px; 
	background-color: #E6AC27; 
	text-align: center; 
	font-size: 1.4em; 
	border-radius: 6px; 
}
#boutons {
	text-align: center;

}

/*page de connextion */
#connexion {
    width: 400px;
    height: 180px;
    background-color: #FFF; 
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    border-radius: 7%;
    border: 2px  #BF4D28 groove;
    opacity: 0.77;
    text-align: center;
}
#connexion h1 {
    position: relative;
    text-align: center;
    color: #BF4D28; 
    font-weight: bold;
}
.labelInfo {
    font-size: 15px;

    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;

    color: white;
    background-color: #BF4D28;
    border: 1px;
    border-radius: 5px;
    margin: 3px; 
}
.texte {
    width: 250px;
    height: 20px;
    border-radius: 5px;
    margin: 3px; 

}
#boutonC{
    font-size: 14px;
    font-weight: bold;
 
    width: 100px;
    height: 30px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #BF4D28;
    border-radius: 5px;
    border: 1px;
}

/*page de résultat */
#resultat {

	border-radius: 20px;
	width: 500px;
	height: 280px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;


    justify-content: center;
    background-color: #FFF; 
    border-radius: 7%;
    border: 2px  #BF4D28 groove;
    opacity: 0.77;

}

table {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align:center; 
	border: 1px #BF4D28 double;  
	background-color: #F6F7BD;
	width: 150px;
	height: 150px;
	margin: auto;
	font-size: 1.2em;
	border-collapse: collapse;
}
caption{
	position: relative;
    text-align: center;
    color: #BF4D28; 
    font-weight: bold;
    font-size: 1.8em;
    padding-bottom: 0.2em; 
}
th,td {
	border: 1px #BF4D28 dashed; 

}

h3 {
	color: #BF4D28; 
}